<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Xigen_CsvUpload::Csv" sortOrder="10" title="Csv">
                    <resource id="Xigen_CsvUpload::Csv_save" sortOrder="10" title="Save Csv"/>
                    <resource id="Xigen_CsvUpload::Csv_delete" sortOrder="20" title="Delete Csv"/>
                    <resource id="Xigen_CsvUpload::Csv_update" sortOrder="30" title="Update Csv"/>
                    <resource id="Xigen_CsvUpload::Csv_view" sortOrder="40" title="View Csv"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
